/* Reset y configuración base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body{
    background-color: hsl(120, 15%, 81%)
}

.box-color {
    border: solid 1px black;
    margin-top: 10px;
    height: 200px;
    width: 100%;
}

.palette-container {
    display: flex;
}